
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: var(--text-color);
  overflow-x: hidden;
  background: var(--surface-border);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}


.underline-link {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}

.underline-link::after {
  position: absolute;
  bottom: .5em;
  left: 0;
  content: '';
  width: 100%;
  height: 1.4px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: .3s;
}

.underline-link:hover::after {
  bottom: 0;
  opacity: 1;
}

.underline-link:hover {
  color: var(--primary-color);
}

.moveinright {
  margin-left: 110px;
  animation: movein 0.15s linear;
}

.profile-avatar {
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-right: .55rem;
  border-radius: 50%;
}

.profile-avatar:hover {
  border: 1px solid var(--primary-color);
}


.overlay-item:hover {
  background: var(--surface-hover);
}

.p-inputswitch {
  transform: scale(0.8);
}

.card {
  background: var(--surface-card);
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a;
  border-radius: 14px;
}

.sidebar {
  border-radius: 15px;
  background: var(--surface-card);
  height: calc(100vh - 7rem);
  padding: 1rem ;
}

.sidebar-container {
  margin: 1rem 0rem 1rem 1rem;
}

.sidebar-item {
  padding: 1rem;

}

.sidebar-item:hover {
  background: var(--surface-hover);
  cursor: pointer;
  border-radius: 12px;
}

.sidebar-open {
  display: block ;

}

.sidebar-close {
  display: none !important;
}
.link-active{
  color: var(--primary-color)
}
.main-wrapper-open{
  margin: 0rem 1rem 1rem 285px;
  width: 100%;

}

