

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
}



a {
  color: inherit;
  text-decoration: none;
}


.underline-link {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}
.underline-link::after {
  position: absolute;
  bottom: .5em;
  left: 0;
  content: '';
  width: 100%;
  height: 1.4px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: .3s;
}
.underline-link:hover::after {
  bottom: 0;
  opacity: 1;
}
.underline-link:hover {
  color: var(--primary-color);
}
.moveinright{
  margin-left: 110px;
  animation: movein 0.15s linear;
}

.profile-avatar{
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-right: .55rem;
  border-radius: 50%;
}
